<form (ngSubmit)="onSubmit()" [formGroup]="signUpFormGroup">
	<div>
		<label for="email">{{ labels['email'] }}</label>
		<input formControlName="email" id="email" type="email" />
		<div *ngIf="isControlInvalid('email') && signUpFormGroup.get('email')?.touched" class="error-message">
			{{ getErrorMessage('email') }}
		</div>
	</div>

	<div>
		<label for="password">{{ labels['password'] }}</label>
		<div class="password-container">
			<input
				[type]="isPasswordVisible ? 'text' : 'password'"
				formControlName="password"
				id="password"
				type="password"
			/>
			<span (click)="togglePasswordVisibility()" class="password-toggle">
				<i [ngClass]="eyeIconClass" class="mdi"></i>
			</span>
		</div>
		<div *ngIf="isControlInvalid('password') && signUpFormGroup.get('password')?.touched" class="error-message">
			{{ getErrorMessage('password') }}
		</div>
	</div>

	<div>
		<label for="firstName">{{ labels['firstName'] }}</label>
		<input formControlName="firstName" id="firstName" type="text" />
		<div *ngIf="isControlInvalid('firstName') && signUpFormGroup.get('firstName')?.touched" class="error-message">
			{{ getErrorMessage('firstName') }}
		</div>
	</div>

	<div>
		<label for="lastName">{{ labels['lastName'] }}</label>
		<input formControlName="lastName" id="lastName" type="text" />
		<div *ngIf="isControlInvalid('lastName') && signUpFormGroup.get('lastName')?.touched" class="error-message">
			{{ getErrorMessage('lastName') }}
		</div>
	</div>

	<div>
		<label for="phone">{{ labels['phone'] }}</label>
		<input formControlName="phone" id="phone" kstRestrictNumeric type="text" />
		<div *ngIf="isControlInvalid('phone') && signUpFormGroup.get('phone')?.touched" class="error-message">
			{{ getErrorMessage('phone') }}
		</div>
	</div>

	<div>
		<label for="birthday">{{ labels['birthday'] }}</label>
		<input formControlName="birthday" id="birthday" type="text" />
		<div *ngIf="isControlInvalid('birthday') && signUpFormGroup.get('birthday')?.touched" class="error-message">
			{{ getErrorMessage('birthday') }}
		</div>
	</div>

	<button type="submit">Sign Up</button>
</form>
